doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Suscription
        link(rel="stylesheet", href="style.css")
        link(rel="stylesheet", href="movile.css")
        link(type="icon", rel="icon", href="/assets/images/interactivo.png")
    body 
        form(action="#" class="form-sucription")
            picture.img-container
                source(srcset="/assets/images/illustration-sign-up-mobile.svg", media="(max-width:500px)")
                img(src="assets/images/illustration-sign-up-desktop.svg", alt="font-formulary")
            div.from-container
                label(for="email" class="text")
                    h1 Stay update! 
                    p  Join 60,000+ product managers receiving monthly updates on: 
                    ul 
                        li Products discovery and building what matters
                        li Measuring to ensure updates ate a success
                        li And much more! 
                label(for="email" class="before-input" id="label" ) Email address 
                input( class="input-email" type="text" name="email" id="email" placeholder="email@company.com")
                button( id="button" type="button" onclick="errorEmail()" ) Subscribe to monthly newsletter  
                script(src="onclick.js")
