html {
  font-size: 62%;
  font-family: monospace;
}
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  background-color: #36384d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}
body .form-sucription {
  background-color: beige;
  gap: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  border-radius: 20px;
  padding: 40px;
}
body .form-sucription .img-container img {
  height: auto;
  width: 250px;
}
body .form-sucription .from-container {
  max-width: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
body .form-sucription .from-container .text h1 {
  font-size: 40px;
  margin: 10px auto ;
  font-weight: bolder;
}
body .form-sucription .from-container .text p {
  font-size: 16px;
  margin: 10px auto;
  font-weight: 600;
}
body .form-sucription .from-container .text ul {
  position: relative;
  list-style: none;
  font-size: 16px;
}
body .form-sucription .from-container .text ul li::before {
  content: "";
  position: absolute;
  left: -1px;
  color: #0c362c;
  width: 21px;
  height: 21px;
  background-image: url(assets/images/icon-list.svg);
}
body .form-sucription .from-container .text ul li {
  padding: 0 0 8px  30px;
  font-weight: 600;
}
body .form-sucription .from-container .input-email::before {
  content: "Email address";
  position: fixed;
  top: 100px;
}
body .form-sucription .from-container .input-email {
  margin-top: 20px;
  padding: 10px;
  border-radius: 4px;
}
