doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title successfully subscribed 
        link(type="icon", rel="icon", href="/assets/images/interactivo.png")
        link(rel="stylesheet", href="/style.css")
        link(rel="stylesheet", href="/success.css")
    body 
        aside 
            img(src="/assets/images/icon-success.svg", alt="")
            h1 Thanks for subscribing!
            p A confirmation email has been sent to
                b ash@loremcompany.com.
                | Please open it and click the button inside to confirm your subscription.
            button Dismiss messager 